.header{
    box-sizing: border-box;
    position: sticky;
    top:0px;
    background: #FFFFFF;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}
.parent{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:12px;
    padding-bottom:12px;
}
.swiching{
    display: flex;
    justify-content: space-between;
}
.bookmark,.Messages{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}
.bookmark:hover{
    color: rgba(0, 0, 0, 0.6);
}
.Messages:hover{
    color: rgba(0, 0, 0, 0.6);
}
.home{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-bottom:3px ;
    background: linear-gradient(266.75deg, #E73BCF 2.56%, #DA1C5C 98.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 3px solid #DA1C5C;
}
.range {
    width: 126px;
    height: 9px;
    -webkit-appearance: none;
     background: #D9D9D9;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #15AE11;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #15AE11;
  }
.level{ 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #4A4A4A;
}
.range-slider{
    align-self: center;
}
.acc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.acc1{
    width: 29px;
    height: 30px;
}
.acc2 img{
    margin-left:18px;
    margin-right:12px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.acc3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #555555;
    text-decoration: none;
}
.acc3:hover{
    color: #555555 !important;
}
.profile{
    justify-content: space-between;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}
.acc3{
    display:flex;
}